.booking-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 10% 40px 10%;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  &__form {
    margin-left: -4%;
    width: 95%;
  }
  &__title {
    color: rgb(142, 0, 0);
  }

  &__room {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 15% !important;
  }
}
