.hotel-room-container {
  display: block;
}

.hotel-room-layout {
  display: flex;
  height: auto;
  padding: 76px 10% 7px 10%;
  gap: 20px;
  &__filter {
    background-color: #f0f0f0;
    width: 25%;
    height: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 20px;
    height: 100%;
  }
}
